<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="D:/WeChat2LogInfo/t3_log4netfile.txt"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <datePattern value="(yyyyMMdd)"/>
      <rollingStyle value="Date"/>
      <RollingStyle value="Size"/>
      <MaxSizeRollBackups value="10"/>
      <maximumFileSize value="2MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="&#xA;-----------start-----------&#xA;"/>
        <footer value="&#xA;----------- end -----------&#xA;"/>
        <conversionPattern value="%date [%t]%-5p %c - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="tradeEnable" value="1" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="disableCFDUT" value="false" />
    <add key="liveOrUat_" value="LIVE" />
    <add key="liveOrUat" value="UAT" />
    <add key="apiuri_" value="https://api.poems.com.sg/pmobile2" />
    <add key="apiuri" value="http://118.189.144.221/pmobile2" />
    <add key="serveruri" value="https://phillip.com.cn/weuiT3/Base/Login" />
    <add key="appid1" value="wx901dacc6486cf4a8" />
    <add key="secret" value="2315b140aaef0bbef898d46ab0d7ed65" />
    <add key="vs:EnableBrowserLink" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="PMAServerDb" connectionString="Data Source=10.30.84.11;Initial Catalog=pmaServer;Password=123.;User ID=GFOUser;Persist Security Info=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <sessionState timeout="20"/>
    <httpRuntime targetFramework="4.5" enableVersionHeader="false"/>
    <compilation targetFramework="4.5" debug="true"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <remove name="X-AspNetMvc-Version"/>
        <remove name="X-AspNet-Version"/>
        <remove name="Server"/>
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
<!--ProjectGuid: BF85225D-9B03-4680-BAE6-9922AD928B28-->